<div class="panel panel-primary" style="margin: 50px;">
  <header class="panel-heading">
    <h1>{{ quiz.title }}</h1>
  </header>
  {% if quiz.question_set.all %}
  <form method="post" ng-submit="submit()">
    {% csrf_token %}
    <ol>
    {% for question in quiz.question_set.all %}
      <li class="list-group">
        {{ question.text }}<br>
        {% for choice in question.choice_set.all %}
          <input type="radio" ng-model="question{{ question.id }}" name="{{ question.id }}" id="choice{{ forloop.counter}}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>
        {% endfor %}
      </li>

    {% endfor %}
      <li style="list-style-type: none;"><input class="btn btn-success" type="submit">
    </ol>

  </form>
  {% else %}
    <p>No questions are available</p>
  {% endif %}
</div>