{% extends 'quizzer/base.html' %}

{% block content %}

<div class="panel panel-primary">
  <header class="panel-heading">
    <h1>{{ quiz.title }}</h1>
  {% load tz %}
  {% timezone 'Asia/Taipei' %}
    <p>Started: {{ start }}</p>
  {% endtimezone %}
  </header>
  <form method="post" action="{% url 'quizzer:check' quiz.id %}">
    {% csrf_token %}
    <ol>
    {% for question in quiz.question_set.all %}
      <li class="list-group">
        {{ question.text }}<br>
        {% for choice in question.choice_set.all %}
          <input type="radio" name="{{ question.id }}" id="choice{{ forloop.counter}}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>
        {% endfor %}
      </li>

    {% endfor %}
      <li style="list-style-type: none;"><input class="btn btn-success" type="submit">
    </ol>

  </form>
</div>

{% endblock %}